.addTodo {
  display: flex;
  background-color: #e8e8e8;
  border-radius: 0.75rem;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.todoList {
  display: flex;
  flex-direction: column;
}

.todoListContainer {
  padding: 1.25rem;
}

.todoItem {
  cursor: pointer;
  display: flex;
  align-items: center;
};